<div *ngIf="pokemonDetails" class="pokemonDetails-details">
  <h1>{{ pokemonDetails.name }}</h1>
  <p>ID: {{ pokemonDetails.id }}</p>
  <p>Height: {{ pokemonDetails.height }} m</p>
  <p>Weight: {{ pokemonDetails.weight }} kg</p>
  <p>Types:</p>
  <ul>
    <li *ngFor="let type of pokemonDetails.types">
      {{ type.type.name }}
    </li>
  </ul>
  <div class="sprite">
    <img [src]="pokemonDetails.sprites.other['official-artwork'].front_default" alt="{{ pokemonDetails.name }} Sprite" />
  </div>
</div>